%body-font {
  font-family: $font;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
  letter-spacing: 0.04em;
}

%heading-font {
  font-family: $font;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  // color: $color-text;
  letter-spacing: 0.04em;
}

%mono-font {
  font-family: $font-mono;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em;
}

body {
  @extend %body-font;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre,
code {
  @extend %mono-font;
}

pre {
  font-size: $font-size-small;
  text-align: left;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @extend %heading-font;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%preface {
  font-size: $font-size-xx-small;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.-alert {
  color: $color-alert;
}

.-error,
.-warning {
  color: $color-error;
}

.-success {
  color: $color-success;
}

.info-list {
  li {
    display: inline-block;
    padding: 0 0 0 0.6rem;
    border-left: 0.1rem solid $color-border;
    margin: 0 0 0 0.6rem;
    // font-size: $font-size-x-small;
    // color: $color-text;
    &:first-child {
      padding: 0;
      border: 0;
      margin: 0;
    }
  }
}
