// layout
$header-height: 7.5rem;
$header-height-order: 6rem;
$footer-height: 6rem;
$padding: 2rem;
$menu-button-height: 7rem;
$gutter: 0.5rem;
$sidebar-width: 16rem;
$sidebar-width-tablet: 40rem;
$sidebar-footer-height: 5rem;

// fonts
$font: 'Roboto', sans-serif;
$font-mono: 'Akkurat Mono', monospace;

// line-height
$line-height: 1.5;

// font sizes
$font-size-xx-big: 2.8rem;
$font-size-x-big: 2.2rem;
$font-size-big: 2rem;
$font-size: 1.8rem;
$font-size-small: 1.6rem;
$font-size-x-small: 1.4rem;
$font-size-xx-small: 1.2rem;

// heading font sizes
$font-size-mega: 4.8rem;
$font-size-h1: 3rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.2rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;

$color-bg: #090a0a;
$color-bg-2: #17191f;
$color-bg-3: #21252e;
$color-bg-4: #353945;
$color-text: #ffffff;
$color-text-2: #979daf;
$color-border: #444958;
$color-link: #5a5aff;
$color-link-2: #1ae2de;
$color-dead: #697188;
$color-success: #20da6e;
$color-error: #eb2d5a;
$color-error-dark: #430d15;
$color-error-bg: #27040c;
$color-alert: #f8e405;
$color-highlight: $color-link-2;

$border-radius: 1rem;
$border-radius-small: 0.5rem;
$border-radius-big: 1.5rem;
